.status {
    background-color: green;
    color: white;
    vertical-align: super;
    border-radius: 24px;
    padding: 2px 4px;
}
#alarm-count.alarming {
    background-color: red;
}
#liveness-heartbeat {
    float: right;
}
#show-all {
    margin-top: 1em;
}
#loading {
    display: inline-block;
    background-color: white;
    color: red;
}
#loading .button-indicator {
    display: inline-block;
}
#alarm-count {
    display: none;
}
#list-active-link {
    display: inline-block;
    width: 100%;
    text-align: center;
}

div#page {
    min-width: 1260px;
}
#diagram-container {
    margin: 0 auto;
    position: relative;
    padding: 55px 5px 35px 5px;
    height: 914px;
    width: 1200px;
}
#diagram-container > span > span {
    display: block;
    position: absolute;
    z-index: 1;
}
.location-Linac1,
.location-Linac3,
.location-Linac5,
.location-Linac7,
.location-Linac9,
.location-NorthLinac {
    left: 234px;
    top: 358px;
    height: 197px;
    width: 883px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/NL_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-Linac2,
.location-Linac4,
.location-Linac6,
.location-Linac8,
.location-SouthLinac {
    left: 234px;
    top: 554px;
    height: 197px;
    width: 883px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/SL_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-1D,
.location-2D,
.location-3D,
.location-4D,
.location-5D,
.location-Injector {
    left: 184px;
    top: 358px;
    height: 7px;
    width: 118px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/Inj_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-BSYDump,
.location-BSY2,
.location-BSY4,
.location-BSY6,
.location-BSY8,
.location-BSYA,
.location-BSY {
    left: 95px;
    top: 660px;
    height: 182px;
    width: 187px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/BSY_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-HallA {
    left: 22px;
    top: 547px;
    height: 136px;
    width: 136px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/HallA_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-HallB {
    left: 9px;
    top: 704px;
    height: 87px;
    width: 87px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/HallB_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-HallC {
    left: 11px;
    top: 812px;
    height: 129px;
    width: 130px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/HallC_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-HallD {
    left: 1088px;
    top: 334px;
    height: 57px;
    width: 113px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/HallD_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-LERF {
    left: 800px;
    top: 566px;
    height: 37px;
    width: 103px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/LERF_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-UITF {
    left: 60px;
    top: 90px;
    height: 46px;
    width: 56px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/UITF_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-CHL {
    left: 611px;
    top: 572px;
    height: 46px;
    width: 56px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/GTS_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-MCC {
    left: 528px;
    top: 439px;
    height: 46px;
    width: 56px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/GTS_red_line.png") no-repeat scroll 0 0 transparent;
}
.location-ESR {
    left: 178px;
    top: 625px;
    height: 46px;
    width: 56px;
    background: url("https://ace.jlab.org/workmap/resources/img/pss/GTS_red_line.png") no-repeat scroll 0 0 transparent;
}