.status {
    background-color: green;
    color: white;
    vertical-align: super;
    border-radius: 24px;
    padding: 2px 4px;
}
#alarm-count.alarming {
    background-color: red;
}
#liveness-heartbeat {
    float: right;
}
#show-all {
    margin-top: 1em;
}
#loading {
    display: inline-block;
    background-color: white;
    color: red;
}
#loading .button-indicator {
    display: inline-block;
}
#alarm-count {
    display: none;
}