.outer-table thead th:first-child {
    width: 205px;
}
.inner-table tbody td:first-child {
    width: 201px;
}
.outer-table thead th:nth-child(2) {
    width: 201px;
}
.inner-table tbody td:nth-child(2) {
    width: 201px;
}
.outer-table thead th:nth-child(3) {
    width: 201px;
}
.inner-table tbody td:nth-child(3) {
    width: 201px;
}

.filter-flyout-panel {
    width: 655px;
}
#remove-sync-button {
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 1;
}
.hidden {
    display: none;
}