div.table-scroll-pane {
    height: 505px;
}
div#page {
    max-width: 1260px;
}
#page-header-logo {
    background: url("../img/logo-32.png") 0 0;
}
/* Definition Lists */
dt {
    display: block;
    font-weight: bold;
}

dd {
    display: block;
    margin: 1em;
}

dd ul {
    margin: 0;
    padding: 0 1em;
}
.dialog-links {
    float: right;
}
.dialog-only-link {
    display: none;
}
.page-dialog .dialog-only-link {
    display: inline-block;
}
.dialog-content h3 {
    color: #aaa;
    border-bottom: 1px solid black;
}
.banner-breadbox li span {
    position: relative;
    display: inline-block;
    z-index: 2;
}
#editable-row-table-control-panel button {
    vertical-align: top;
}
.markdown-html h1 {
    margin: 0;
    text-shadow: none;
    font-weight: bold;
    font-size: 1.5em;
}
.markdown-html h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.25em;
}
.markdown-html h3 {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}
.markdown-html table,
.markdown-html td,
.markdown-html th {
    border: 1px solid gray;
}
.markdown-widget {
    border: 1px solid gray;
    padding: 1em;
}
.markdown-widget .markdown-text {
    display: none;
}
.editable-row-table tr.selected-row a {
    color: red;
}