.outer-table thead th:first-child {
    width: 105px;
}
.inner-table tbody td:first-child {
    width: 101px;
}
.outer-table thead th:nth-child(2),
.inner-table tbody td:nth-child(2),
.outer-table thead th:nth-child(3),
.inner-table tbody td:nth-child(3),
.outer-table thead th:nth-child(4),
.inner-table tbody td:nth-child(4) {
    width: 135px;
}
.inner-table tbody td {
    word-break: break-word;
}