.add-row,
.remote {
    background-color: #d6ff9c;
}
.remove-row,
.local {
    background-color: #ff9094;
}
.query {
    word-break: break-word;
}
.data-table tbody td:first-child {
    width: 60px;
}
.data-table tbody td:nth-child(2) {
    width: 200px;
}
.data-table tbody td:nth-child(3) {
    width: 100px;
}
.data-table tbody td:nth-child(4) {
    width: 200px;
}
.data-table tbody td:nth-child(5) {
    width: 200px;
}