.add-row,
.remote {
    background-color: #d6ff9c;
}
.remove-row,
.local {
    background-color: #ff9094;
}
.data-table tbody td,
.breakword {
    word-break: break-word;
}
.data-table tbody td:first-child {
    width: 60px;
}
.data-table tbody td:nth-child(2) {
    width: 200px;
}
.data-table tbody td:nth-child(3) {
    width: 100px;
}
.data-table tbody td:nth-child(4) {
    width: 200px;
}
.data-table tbody td:nth-child(5) {
    width: 200px;
}
.dialog-content #accordion h3 {
    color: black;
}
.sync-detail-dialog-links {
    position: relative;
    top: -60px;
}
#accordion .ui-widget-content a {
    color: blue;
}
#accordion .ui-widget-content a:hover {
    color: red;
}