.outer-table thead th:first-child {
    width: 105px;
}
.inner-table tbody td:first-child {
    width: 101px;
}
.outer-table thead th:nth-child(2),
.inner-table tbody td:nth-child(2) {
    width: 201px;
}
.outer-table thead th:nth-child(3),
.inner-table tbody td:nth-child(3) {
    width: 130px;
}
.outer-table thead th:nth-child(4),
.inner-table tbody td:nth-child(4) {
    width: 200px;
    word-break: break-word;
}
.bottom-ul {
    margin-top: 1em;
}
#row-form input[type=text] {
    width: 550px;
}
#row-expression,
#row-join-expression {
    width: 550px;
    height: 200px;
    resize: none;
}
#save-and-run-button {
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 1;
}